.player {
  width: 1.5rem;
  height: 1.5rem;
}

.title {
  display: inline-flex;
  vertical-align: middle;
  margin: 0 0.5ex;
  .player {
    opacity: 0.3;
    width: 3rem;
    height: 3rem;
  }
}

.gameState {
  font-size: 1.5em;
  font-weight: 200;

  &.playing {
    opacity: 0.3;
  }
}

.board {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--overlay);
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 150%;
  font-weight: 500;

  button {
    font-size: 90%;
    font-weight: 200;
  }
}

.draw span::before {
  content: '🤝';
  display: inline-block;
  margin-right: 0.5em;
}
