.box {
  background: var(--background);
  color: var(--foreground);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  width: 100px;
  height: 100px;
}

.x,
.o {
  font-size: 0; /* Hide the 'X' or 'O' text */
  position: relative;
}

@keyframes widthGrow {
  0% {
    width: 0;
  }
  100% {
    width: 112%;
  }
}

.x::before,
.x::after {
  content: '';
  position: absolute;
  background-color: var(--playex-x);
  width: 100%;
  height: 3px;
  border-radius: 3px;
}

.x::before {
  top: 0;
  left: 0;
  transform-origin: left center;
  transform: rotate(45deg) translateX(13%);
  animation: widthGrow 0.2s ease-out forwards;
}

.x::after {
  top: 0;
  right: 0;
  transform-origin: right center;
  transform: rotate(-45deg) translateX(-13%);
  /* Add a slight delay for the second line */
  animation: widthGrow 0.2s ease-out 0.1s forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.o::before {
  content: '';
  position: absolute;
  width: 95%;
  height: 95%;
  border: 3px solid var(--playex-o);
  border-radius: 50%;
  border-width: 3%;
  box-sizing: border-box;
  animation: scaleUp 0.3s cubic-bezier(0.26, 0.91, 0.66, 1.32) forwards;
}
